# **Группировка, сортировка и корреляция**

In [1]:
#import frameworks
import pandas as pd

In [26]:
#Загрузка наших данных
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/students.csv', delimiter=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          186 non-null    int64
 1   Growth                       186 non-null    int64
 2   Shoe size                    186 non-null    int64
 3   Course number                186 non-null    int64
 4   Year of birth                186 non-null    int64
 5   Friend number                186 non-null    int64
 6   Russian rating               186 non-null    int64
 7   Maths rating                 186 non-null    int64
 8   Physics rating               186 non-null    int64
 9   Computer science rating      186 non-null    int64
 10  Chemistry rating             186 non-null    int64
 11  Literature rating            186 non-null    int64
 12  History rating               186 non-null    int64
 13  Geography rating             186 non-null    int64
 14  Biology rating               186 non-null    int64
 15  Foreign language rating      186 non-null    int64
 16  Social science rating        186 non-null    int64
 17  Distance to home km          186 non-null    int64
 18  Minutes to first class       186 non-null    int64
 19  Children number              150 non-null    float64
 20  Removed teeth                148 non-null    float64
 21  Weight                       157 non-null    float64
 22  Glasses                      184 non-null    object
 23  Sex                          186 non-null    object
 24  Problems in last semester    186 non-null    object
 25  Coin                         186 non-null    object
 26  Rock paper scissors          186 non-null    object
 27  Animal                       186 non-null    object
 28  Month of birthday            186 non-null    int64
 29  Your rating in university    186 non-null    object
 30  Fastfood                     186 non-null    object
 31  Height of 5000 mm            186 non-null    int64
 32  Width of 5000 mm             186 non-null    int64
 33  Putin age                    186 non-null    int64
 34  Army                         186 non-null    object
 35  Hostel                       186 non-null    object
 36  Hair length                  186 non-null    float64
 37  Floor number                 186 non-null    int64
 38  Social network duration min  186 non-null    int64
 39  Chocolate                    186 non-null    object
 40  City population              186 non-null    float64
 41  Strange people               186 non-null    object
 42  Your insitute                186 non-null    object
 43  Brother-sister               186 non-null    object
 44  Plane seat                   186 non-null    object
 45  MIddle and index finger      186 non-null    int64
 46  Middle and ring finger       186 non-null    float64
 47  Middle and little finger     186 non-null    float64
dtypes: float64(7), int64(26), object(15)
memory usage: 69.9+ KB

In [ ]:
#Делаем таблицу, которая состоит не из всех столбцов
df_cut=df[['Age','Growth','Weight']]
df_cut.head()

# Сортировка

In [ ]:
#Сортировка по убыванию, т.к. стоит False, если не указывать значение "ascending", то по умолчанию указывается True
df_cut.sort_values(by='Age', ascending=False)

In [ ]:
#Сортировка по убыванию, т.к. стоит True, если не указывать значение "ascending", то по умолчанию указывается True
df_cut.sort_values(by='Age', ascending=True)

In [ ]:
#Сортируем по нескольким столбцам, если не указывать значение "ascending", то по умолчанию указывается True
df_cut.sort_values(['Age','Growth','Weight'], ascending=[False, False, False])

In [9]:
#создаем дополнительную таблицу с отсортированными данными
df_sorted=df_cut.sort_values('Growth', ascending=False)

In [ ]:
#с помощью функции .iloc[1,] мы можем получать определнную запись из нашей таблицы
df_sorted.iloc[0,]

# Добавление нового столбца в наш Датасэт

In [ ]:
#Добавим новый столбец с индексом массы тела
df_cut['Mass index'] = 10000*df_cut['Weight']/(df_cut['Growth']*df_cut['Growth'])

In [ ]:
df_cut

In [ ]:
df_cut.sort_values(by='Mass index', ascending=False)

# Коэффициент корреляции
Он нужен для того, чтобы измерять степень зависимости одного признака от другого

Максимальные значения КК лежат в диапазоне: [-1:1].В этом случаем зависимость линейная.

Если КК отрицательный, то между признаками есть обратная зависимость.

Если КК очень близок, то фактически зависимости нет.

Если -0.5 < КК < 0.5, то, вероятнее всего никакой зависимости нет.

Если -1

In [ ]:
df_cut.corr()

# Группировка
Необходима для подсчета статистических характеристик внутри группы

In [54]:
df.groupby('Sex')['Growth', 'Weight'].mean()

<ipython-input-54-726766291076>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('Sex')['Growth', 'Weight'].mean()

             Growth     Weight
Sex
женский  165.725000  59.105263
мужской  179.636364  71.580645

In [59]:
df.groupby('Chocolate')['Russian rating', 'Maths rating'].mean()

<ipython-input-59-b95268f77365>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('Chocolate')['Russian rating', 'Maths rating'].mean()

                                   Russian rating  Maths rating
Chocolate
M&Ms                                    81.000000     61.000000
Баунти                                  80.433333     59.433333
КитКат                                  81.885714     58.114286
Марс                                    88.636364     45.181818
Милки Вей                               77.588235     50.117647
Натс                                    82.461538     56.615385
Скиттлс (хотя это и не шоколадка)       85.000000     72.000000
Сникерс                                 78.941176     60.235294
Твикс                                   84.323529     61.617647

# Задания для самостоятельной работы

№1 Из имеющейся таблицы с анкетами наших студентов создайте "обрезанную таблицу" df_cut, состоящую из столбцов "Год рождения", "Рост", "Вес", "Длина волос", "Размер обуви".

Отсортируйте таблицу по возрастанию признака "Размер обуви". В ответ напишите год рождения студента, попавшего в первую строку отсортированной таблицы.

In [27]:
df_cut2=df[['Year of birth','Growth','Weight','Hair length','Shoe size']]

In [ ]:
df_cut2.head()

In [ ]:
df_cut2.sort_values(by='Shoe size', ascending=True)

№3 

Из имеющейся таблицы с анкетами наших студентов создайте "обрезанную таблицу" df_cut, состоящую из столбцов "Год рождения", "Рост", "Вес", "Длина волос", "Размер обуви".

Отсортируйте таблицу по убыванию признака "Размер обуви". В ответ напишите год рождения студента, попавшего в третью строку отсортированной таблицы.

In [33]:
df_cut3=df[['Year of birth','Growth','Weight','Hair length','Shoe size']]

In [ ]:
df_cut3.sort_values(by='Shoe size', ascending=False).iloc[2,]

In [ ]:
df_cut3.iloc[2,]

№4
Из имеющейся таблицы с анкетами наших студентов создайте "обрезанную таблицу" df_cut, состоящую из столбцов "Год рождения", "Рост", "Вес", "Длина волос", "Размер обуви".

Отсортируйте таблицу по возрастанию признака "Размер обуви", а внутри группы студентов с одинаковым размером обуви сортировка должна производиться по возрастанию  признака "Рост".

В ответ напишите год рождения студента, попавшего в девятую строку отсортированной таблицы.

In [55]:
df_cut4=df[['Year of birth','Growth','Weight','Hair length','Shoe size']]

In [ ]:
df_cut4.sort_values(by=['Shoe size', 'Growth'], ascending=[True, True]).iloc[8,]

№5
Из имеющейся таблицы с анкетами наших студентов создайте "обрезанную таблицу" df_cut, состоящую из столбцов "Год рождения", "Рост", "Вес", "Длина волос", "Размер обуви".

Отсортируйте таблицу по возрастанию признака "Размер обуви", а внутри группы студентов с одинаковым размером обуви сортировка должна производиться по убыванию признака "Рост".

В ответ напишите год рождения студента, попавшего во вторую строку отсортированной таблицы.

In [71]:
df_cut5=df[['Year of birth','Growth','Weight','Hair length','Shoe size']]

In [80]:
df_cut5.sort_values(by=['Shoe size', 'Growth'], ascending=[True, False]).reset_index().loc[1, 'Year of birth']

2002

№6
Из имеющейся таблицы с анкетами наших студентов создайте "обрезанную таблицу" df_cut, состоящую из столбцов "Год рождения", "Рост", "Вес", "Длина волос", "Размер обуви".

Отсортируйте таблицу по убыванию признака "Размер обуви", а внутри группы студентов с одинаковым размером обуви сортировка должна производиться по возрастанию  признака "Рост".

В ответ напишите год рождения студента, попавшего во вторую строку отсортированной таблицы.

In [81]:
df_cut6=df[['Year of birth','Growth','Weight','Hair length','Shoe size']]

In [84]:
df_cut6.sort_values(by=['Shoe size', 'Growth'], ascending=[False,True]).reset_index().loc[1, 'Year of birth']

2003

№7
Из имеющейся таблицы с анкетами наших студентов создайте "обрезанную таблицу" df_cut, состоящую из столбцов "Год рождения", "Рост", "Вес", "Длина волос", "Размер обуви".

Допустим, что все студенты решили сделать себе прически типа "Ирокез".

Создайте новый столбец с названием 'Full length' ("Полный рост"), значения в котором равны сумме роста и длины волос. 

Чему равно максимальное значение признака "Полный рост" для наших студентов?

In [86]:
df_cut7=df[['Year of birth','Growth','Weight','Hair length','Shoe size']]

In [ ]:
df_cut7['Full length'] = df_cut7['Growth'] + df_cut7['Hair length']

In [89]:
df_cut7['Full length'].max()

319.0

№8
Из имеющейся таблицы с анкетами наших студентов создайте "обрезанную таблицу" df_cut, состоящую из столбцов "Год рождения", "Рост", "Вес", "Длина волос", "Размер обуви".

Выведите на экран таблицу со значениями коэффициента корреляции (КК). 

Чему равен КК для признаков "Рост" и "Размер обуви"? Ответ округлить до двух знаков после запятой.

In [90]:
df_cut8=df[['Year of birth','Growth','Weight','Hair length','Shoe size']]

In [99]:
df_cut8_corr = df_cut8.corr()

In [100]:
df_cut8_corr.loc['Growth', 'Shoe size'].round(2)

0.86

№ 9
С помощью метода-молитвы groupby сделайте так, чтобы на экран вывелась табличка (числа в ней - это средние баллы за ЕГЭ)
Чему равно заштрихованное число? Округлить до одного знака после запятой.

In [104]:
df.groupby('Glasses')['Russian rating', 'Maths rating'].mean().round(1).loc['простите. не увидел(а) вопроса ))))', 'Maths rating']

<ipython-input-104-3cad80ae29a6>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('Glasses')['Russian rating', 'Maths rating'].mean().round(1).loc['простите. не увидел(а) вопроса ))))', 'Maths rating']

54.7

№ 10 
С помощью метода groupby выведите на экран табличку (числа в ней - это средние баллы за ЕГЭ):



Чему равно заштрихованное число? Ответ округлить до двух знаков после запятой.

Вы по-прежнему думаете, что игра К-Н-Б никак не влияет на успеваемость по русскому и математике? )))))

In [107]:
df.groupby('Rock paper scissors')['Russian rating', 'Maths rating'].mean().round(1).loc['Бумага', 'Maths rating']

<ipython-input-107-bf52f5a6de9c>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('Rock paper scissors')['Russian rating', 'Maths rating'].mean().round(1).loc['Бумага', 'Maths rating']

52.9

In [108]:
df['Age'].describe()

count    186.000000
mean      20.688172
std        3.468713
min       17.000000
25%       19.000000
50%       20.000000
75%       21.000000
max       55.000000
Name: Age, dtype: float64