# Группировка, сортировка и корреляция

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/задания к курсу/students.csv',delimiter=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          186 non-null    int64
 1   Growth                       186 non-null    int64
 2   Shoe size                    186 non-null    int64
 3   Course number                186 non-null    int64
 4   Year of birth                186 non-null    int64
 5   Friend number                186 non-null    int64
 6   Russian rating               186 non-null    int64
 7   Maths rating                 186 non-null    int64
 8   Physics rating               186 non-null    int64
 9   Computer science rating      186 non-null    int64
 10  Chemistry rating             186 non-null    int64
 11  Literature rating            186 non-null    int64
 12  History rating               186 non-null    int64
 13  Geography rating             186 non-null    int64
 14  Biology rating               186 non-null    int64
 15  Foreign language rating      186 non-null    int64
 16  Social science rating        186 non-null    int64
 17  Distance to home km          186 non-null    int64
 18  Minutes to first class       186 non-null    int64
 19  Children number              150 non-null    float64
 20  Removed teeth                148 non-null    float64
 21  Weight                       157 non-null    float64
 22  Glasses                      184 non-null    object
 23  Sex                          186 non-null    object
 24  Problems in last semester    186 non-null    object
 25  Coin                         186 non-null    object
 26  Rock paper scissors          186 non-null    object
 27  Animal                       186 non-null    object
 28  Month of birthday            186 non-null    int64
 29  Your rating in university    186 non-null    object
 30  Fastfood                     186 non-null    object
 31  Height of 5000 mm            186 non-null    int64
 32  Width of 5000 mm             186 non-null    int64
 33  Putin age                    186 non-null    int64
 34  Army                         186 non-null    object
 35  Hostel                       186 non-null    object
 36  Hair length                  186 non-null    float64
 37  Floor number                 186 non-null    int64
 38  Social network duration min  186 non-null    int64
 39  Chocolate                    186 non-null    object
 40  City population              186 non-null    float64
 41  Strange people               186 non-null    object
 42  Your insitute                186 non-null    object
 43  Brother-sister               186 non-null    object
 44  Plane seat                   186 non-null    object
 45  MIddle and index finger      186 non-null    int64
 46  Middle and ring finger       186 non-null    float64
 47  Middle and little finger     186 non-null    float64
dtypes: float64(7), int64(26), object(15)
memory usage: 69.9+ KB

In [ ]:
df_cut=df[['Age', 'Growth', 'Weight']]
df_cut.head()

   Age  Growth  Weight
0   20     170    64.0
1   22     191    73.0
2   21     172    60.0
3   19     168    59.0
4   23     159    57.0

# Сортировка

In [ ]:
df_cut.sort_values(by='Age', ascending=False)

     Age  Growth  Weight
81    55     160     3.0
63    35     180    78.0
99    31     165    53.0
173   29     176    70.0
82    27     168    58.0
..   ...     ...     ...
127   18     165    46.0
61    18     182    75.0
159   18     168    70.0
115   17     175    72.0
126   17     168    71.0

[186 rows x 3 columns]

In [ ]:
df_cut.sort_values(by='Growth', ascending=False)
#сортировка по возрастанию признака 'Growth'

In [ ]:
df_cut.sort_values(by='Age', ascending=True)

     Age  Growth  Weight
126   17     168    71.0
115   17     175    72.0
185   18     164    54.0
133   18     177    80.0
127   18     165    46.0
..   ...     ...     ...
82    27     168    58.0
173   29     176    70.0
99    31     165    53.0
63    35     180    78.0
81    55     160     3.0

[186 rows x 3 columns]

In [ ]:
df_cut.sort_values(['Growth','Age'], ascending=[False, False])

     Age  Growth  Weight
103   19     197   100.0
27    19     193    61.0
1     22     191    73.0
87    23     188    83.0
33    22     188    95.0
..   ...     ...     ...
118   18     157    59.0
53    19     156    48.0
177   23     155    50.0
34    19     155     NaN
152   19     153    46.0

[186 rows x 3 columns]

In [ ]:
df_sorted=df_cut.sort_values('Growth', ascending=False)

In [ ]:
df_sorted.iloc[3,]
#это обращение по индексу (номеру строки). Фактически мы в предыдущей ячейке отсортировали данные по убыванию роста. А теперь можно найти человека первого по росту (второго по росту) итд

Age        23.0
Growth    188.0
Weight     83.0
Name: 87, dtype: float64

# Добавление нового столбца

In [ ]:
# Добавим новый столбец с индексом массы тела
df_cut['Mass index']=10000*df_cut['Weight']/(df_cut['Growth']*df_cut['Growth'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Добавим новый столбец с разностью роста 'Growth' и веса 'Weight'
df['Difference']=df['Growth']-df['Weight']

In [ ]:
df_cut.head()

   Age  Growth  Weight  Mass index
0   20     170    64.0   22.145329
1   22     191    73.0   20.010416
2   21     172    60.0   20.281233
3   19     168    59.0   20.904195
4   23     159    57.0   22.546576

In [ ]:
df_cut.sort_values(by='Mass index', ascending=True)

     Age  Growth  Weight  Mass index
81    55     160     3.0    1.171875
114   22     178     7.0    2.209317
182   19     169    43.0   15.055495
5     18     177    50.0   15.959654
139   20     170    47.0   16.262976
..   ...     ...     ...         ...
158   21     168     NaN         NaN
161   24     163     NaN         NaN
167   21     168     NaN         NaN
170   22     168     NaN         NaN
178   21     170     NaN         NaN

[186 rows x 4 columns]

# Коэффициент корреляции (КК)

КК показывает силу зависимости между признаками. Чем больше абсолютная величина КК, тем сильнее зависимость. Максимальные абсолютные значения КК -1, 1. В этом случае между признаками существует линейная зависимость

Если КК отрицательный, то между признаками есть обратная зависимость

Если КК очень близок, то фактически никакой зависимости нет.

In [ ]:
df_cut.corr()

                 Age    Growth    Weight  Mass index
Age         1.000000 -0.101982 -0.185722   -0.200305
Growth     -0.101982  1.000000  0.544528    0.146201
Weight     -0.185722  0.544528  1.000000    0.904678
Mass index -0.200305  0.146201  0.904678    1.000000

# Группировка

нужна для подсчета статистических характеристик внутри группы

In [ ]:
df.groupby('Sex')['Growth','Weight'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

             Growth     Weight
Sex
женский  165.725000  59.105263
мужской  179.636364  71.580645

In [ ]:
df.groupby(['Sex','Chocolate'])['Russian rating','Maths rating'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                           Russian rating  Maths rating
Sex     Chocolate
женский M&Ms                                    79.400000     51.600000
        Баунти                                  81.181818     56.318182
        КитКат                                  85.782609     61.782609
        Марс                                    91.166667     36.666667
        Милки Вей                               79.583333     45.250000
        Натс                                    84.636364     53.818182
        Скиттлс (хотя это и не шоколадка)       86.000000     67.000000
        Сникерс                                 80.375000     61.562500
        Твикс                                   86.478261     55.217391
мужской M&Ms                                    83.666667     76.666667
        Баунти                                  78.375000     68.000000
        КитКат                                  74.416667     51.083333
        Марс                                    85.600000     55.400000
        Милки Вей                               72.800000     61.800000
        Натс                                    70.500000     72.000000
        Скиттлс (хотя это и не шоколадка)       84.000000     77.000000
        Сникерс                                 77.666667     59.055556
        Твикс                                   79.818182     75.000000

In [ ]:
df.groupby('Chocolate')['Russian rating','Maths rating'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                   Russian rating  Maths rating
Chocolate
M&Ms                                    81.000000     61.000000
Баунти                                  80.433333     59.433333
КитКат                                  81.885714     58.114286
Марс                                    88.636364     45.181818
Милки Вей                               77.588235     50.117647
Натс                                    82.461538     56.615385
Скиттлс (хотя это и не шоколадка)       85.000000     72.000000
Сникерс                                 78.941176     60.235294
Твикс                                   84.323529     61.617647

In [ ]:
df_cut=df[['Growth', 'Weight','Year of birth', 'Shoe size', 'Hair length', 'Russian rating', 'Sex']]
df_cut.head()

,Growth,Weight,Year of birth,Shoe size,Hair length,Russian rating,Sex
0,170,64.0,2002,40,50.0,85,женский
1,191,73.0,2000,43,7.0,69,мужской
2,172,60.0,2000,41,4.0,78,мужской
3,168,59.0,2003,38,20.0,72,женский
4,159,57.0,1998,36,55.0,0,женский

In [ ]:
df_cut['Full length']=df_cut['Growth']+df_cut['Hair length']
df_cut.corr()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Growth,Weight,Year of birth,Shoe size,Hair length,Russian rating,Full length
Growth,1.000000,0.544528,-0.113357,0.863252,-0.554408,-0.134714,-0.235492
Weight,0.544528,1.000000,0.006042,0.591149,-0.319416,-0.054947,-0.145316
Year of birth,-0.113357,0.006042,1.000000,-0.108360,0.095402,-0.057323,0.064713
Shoe size,0.863252,0.591149,-0.108360,1.000000,-0.567568,-0.157023,-0.307190
Hair length,-0.554408,-0.319416,0.095402,-0.567568,1.000000,0.144650,0.939398
Russian rating,-0.134714,-0.054947,-0.057323,-0.157023,0.144650,1.000000,0.113426
Full length,-0.235492,-0.145316,0.064713,-0.307190,0.939398,0.113426,1.000000

In [ ]:
df_cut.sort_values(by='Full length', ascending=True).head(50)

In [ ]:
df_cut['Full length'].describe()

count    186.000000
mean     205.026344
std       21.983827
min      170.000000
25%      187.250000
50%      201.000000
75%      217.750000
max      319.000000
Name: Full length, dtype: float64

In [ ]:
df_cut[df_cut['Sex']=='мужской']['Full length'].describe()

count     66.000000
mean     191.104545
std       11.280350
min      170.000000
25%      184.125000
50%      188.500000
75%      198.000000
max      229.000000
Name: Full length, dtype: float64

In [ ]:
df_cut[df_cut['Sex']=='женский']['Full length'].describe()

count    120.000000
mean     212.683333
std       22.698233
min      175.000000
25%      197.750000
50%      212.000000
75%      224.000000
max      319.000000
Name: Full length, dtype: float64

In [ ]:
df_cut.sort_values(by=['Full length'], ascending=[False]).head(20)

In [ ]:
(df.groupby(['Glasses'])[['Russian rating','Maths rating']].mean())

                                     Russian rating  Maths rating
Glasses
да                                        83.388235     56.741176
нет                                       80.471910     59.955056
простите. не увидел(а) вопроса ))))       77.900000     54.700000

In [ ]:
(df.groupby(['Year of birth'])[['Russian rating','Maths rating']].mean())

               Russian rating  Maths rating
Year of birth
200                 95.000000     50.000000
1960                 0.000000      0.000000
1986                51.000000     61.000000
1988                76.000000    100.000000
1990                91.000000     72.000000
1992                72.000000     69.000000
1995                82.500000     73.000000
1996                80.000000     76.500000
1997                86.000000     34.000000
1998                74.444444     61.777778
1999                84.600000     66.800000
2000                83.655172     54.827586
2001                82.437500     58.468750
2002                81.393939     55.212121
2003                82.339623     58.320755
2004                83.714286     67.142857

In [ ]:
(df.groupby(['Rock paper scissors'])[['Russian rating','Maths rating']].mean())

                     Russian rating  Maths rating
Rock paper scissors
Бумага                    76.473684     52.894737
Камень                    81.450000     62.166667
Ножницы                   83.988636     57.738636

In [ ]:
(df.groupby(['Sex','Plane seat'])['Coin'].count())

Sex      Plane seat
женский  В середине                           2
         У окна (пардон: у иллюминатора)    100
         У прохода                           18
мужской  В середине                           7
         У окна (пардон: у иллюминатора)     52
         У прохода                            7
Name: Coin, dtype: int64